@media only screen and (max-width: 1560px) and (min-width: 360px) {
    .info-top-nav a {
        font-size: 13px;
        padding: 10px 15px;
    }
    .info-top-nav {
        margin-right: 10px;
    }
    .wrapper_searchterms .dataTables_wrapper {
        position: relative;
        overflow-x: scroll;
    }

}
@media screen and (max-width: 650px) {

    .tabs__caption li {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .vertical .tabs__caption {
        float: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .vertical .tabs__caption li {
        border-width: 2px 2px 0;
        border-radius: 5px 5px 0 0;
    }
    .vertical .tabs__caption li:last-child:before {
        display: block;
    }
    .vertical .tabs__caption .active:after {
        top: auto;
        bottom: -5px;
        left: 0;
        right: 0;
        width: auto;
        height: 5px;
        background: #FFF;
    }

}
