@media only screen and (max-width: 1750px) and (min-width: 360px) {
    .respons-wrap{
        display: flex;
        flex-wrap: nowrap;
    }
    .view-respons{
        flex-wrap: wrap;
    }
    .view-respons .campages-block {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .respons-wrap .new-filters{
        margin-bottom: 0;
    }
    .wrapper-control-block-no-absolute {
        display: inline;
    }
    .container-img-change img {
        max-width: 330px;
    }
    .wrapper-input-change label {
        font-size: 14px;
    }
    .wrapper-input-change input {
        padding: 14px 8px;
        font-size: 20px;
        max-width: 122px;
    }
    .wrapper-input-change {
        max-width: 165px;
        margin-right: 50px;
    }
    .info-save-change-container h4 {
        font-size: 18px;
        margin: 20px 0;
    }
    .responsive-filters{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .container-control {
        margin-right: 10px;
    }
    .control-check label {
        font-size: 16px;
    }
    .responsive-filters .group{
        margin-top: 10px;
    }
    .narrow-list li:last-child{
        margin-right: 0;
    }
    .show-more p {
        font-size: 15px;
        white-space: nowrap;
    }
    .nav-li-header a {
        padding: 15px;
    }
    .icon-refresh{
        padding: 15px 50px 15px 15px !important;
    }
    .nav-li-header {
        padding: 15px 0 13px;
    }
    .list-day li a {
        padding: 15px 20px 10px 20px;
    }
    .padding-bottom-10{
        padding-bottom: 10px !important;
    }
    .round-block-nav {
        top: 3px;
        right: 0;
    }
    .modal-body.wrapper_searchterms .dataTables_wrapper {
        position: relative;
        overflow-x: inherit;
        padding-bottom: 40px;
    }

}
@media only screen and (max-width: 1560px) and (min-width: 360px) {
    .info-top-nav a {
        font-size: 0.875rem;
        padding: 10px 15px;
    }
    .filter-btn,
    .litter-item a,
    .number-clicks{
        font-size: 1rem;
    }
    #example2_wrapper{
        padding-bottom: 0;
    }
    .user-btn-text{
        font-size: 0.875rem;
    }
    .info-top-nav {
        margin-right: 10px;
    }
    .wrapper_searchterms .dataTables_wrapper {
        position: relative;
        overflow-x: auto;
        padding-bottom: 40px;
    }
    .wrapper_searchterms .label .search {
        padding-left: 30px;
        font-size: 1rem;
        background-position: 5px center;
    }
    #example17_wrapper{
        padding-bottom: 10px;
    }
    .wrapper_searchterms .dataTables_paginate.paging_simple_numbers:nth-of-type(2),
    .dataTables_wrapper .dataTables_paginate.paging_simple_numbers:nth-of-type(2) {
        bottom: 5px;
    }
    .nav-li-header a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
    .icon-refresh{
        padding-left: 15px !important;
        padding-right: 40px !important;
    }
    .new-d-flex .fast-date + .select2-container--default .select2-selection--single .select2-selection__rendered,
    .datepicker{
        font-size: 16px;
    }
    .new-d-flex .title,
    .range-title{
        font-size: 13px;
    }
    .first-picker,
    .wrapper-data-pickers{
        margin-right: 15px;
    }
    .campages-block .item .input {
        font-size: 12px;
        padding: 4px 9px;
        margin-right: 10px;
    }
    .campages-block .item .desc {
        font-size: 12px;
    }
    .campages-block .item {
        margin-right: 10px;
    }
    .respons-wrap .show-more{
        margin-bottom: 15px;
    }
    .chevron-active {
        margin-left: 10px;
    }
    .wrapper_searchterms .btn {
        font-size: 0.875rem;
    }
    .wrapper_searchterms .control,
    .wrapper_searchterms .legend{
        padding: 15px 18px;
    }
    .new-action .title, .new-action .count,
    .select2-selection__rendered{
        font-size: 1rem;
    }
    .desc {
        font-size: 1rem;
    }
    .wrapper_searchterms .select-bottom-table{
        padding: 20px 18px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
    }
    .table-absolute{
        position: relative;
    }
    .wrapper_searchterms #example_wrapper {
        position: relative;
        overflow-x: auto;
        padding-bottom: 6px;
    }
    #example3_wrapper,
    #example10_wrapper{
        padding-bottom: 0;
    }
    .options-charts {
        max-width: 403px;
        width: 100%;
        margin-right: 25px;
        padding: 22px 0 23px 22px;
    }
    .total-info, .price-chart {
        font-size: 20px;
    }
    .text-info-charts h5 {
        font-size: 14px;
    }
    .wrapper-chart-circul {
        max-width: 110px;
        width: 100%;
    }
    .info-chart span {
        font-size: 16px;
    }
    .info-chart .percent-number{
        font-size: 14px;
    }
    .data-charts {
        font-size: 25px;
    }
    .trial-wrapper {
        margin-left: 25px;
    }
    .trial-wrapper p {
        margin-right: 10px;
        font-size: 16px;
    }
    .buy-btn {
        width: 90px;
        font-size: 16px;
    }
    .nav-list-variant a {
        font-size: 15px;
    }
    .video-guide span {
        font-size: 16px;
    }
    .currency-options span, .currency span, .currency-valute .select2-selection__rendered {
        font-size: 16px;
    }
    .container-nav-right .btn.icon.add {
        font: 300 16px 'Ubuntu';
    }
    .list-day li a span {
        font-size: 14px;
    }
    .title-keywords-text p {
        font-size: 20px;
    }
    .wrapper_searchterms .dataTable thead .sorting,
    .wrapper_searchterms .dataTable thead .sorting_asc,
    .wrapper_searchterms .dataTable thead .sorting_desc,
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background-size: 11px;
    }
    .green-percent-p,
    .red-percent-p,
    .percent{
        font-size: 1.25rem;
    }
    .percent-span{
        font-size: 0.75rem;
    }
    .wrapper_searchterms table.dataTable .table-gray-value, .wrapper_searchterms table.dataTable .select2-selection, .wrapper_searchterms table.dataTable input {
        font-size: 1rem;
    }
    .table-paragraph p{
        font-size: 1rem;
    }
    .wrapper_searchterms .table-gray-value + small,
    .wrapper_searchterms .table-edited-value + small,
    .wrapper_searchterms .table-edited-value-holder + small{
        font-size: 0.75rem;
    }
    .wrapper_searchterms .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button{
        font-size: 0.875rem;
    }

}
@media only screen and (max-width: 1400px) and (min-width: 360px) {
    .responsive-filters{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .container-control {
        margin-right: 10px;
    }
    .control-check label {
        font-size: 16px;
    }
    .responsive-filters .group{
        margin-top: 10px;
    }
    .narrow-list li:last-child{
        margin-right: 0;
    }
}
@media screen and (max-width: 650px) {

    .tabs__caption li {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .vertical .tabs__caption {
        float: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .vertical .tabs__caption li {
        border-width: 2px 2px 0;
        border-radius: 5px 5px 0 0;
    }
    .vertical .tabs__caption li:last-child:before {
        display: block;
    }
    .vertical .tabs__caption .active:after {
        top: auto;
        bottom: -5px;
        left: 0;
        right: 0;
        width: auto;
        height: 5px;
        background: #FFF;
    }

}
