@media only screen and (max-width: 922px) and (min-width: 360px) {


}

@media only screen and (max-width: 768px) and (min-width: 360px) {
    .navigation-logo,
    .nav-list{
        display: none;
    }
    .header{
        padding: 20px 40px 70px;
    }
    .logo-wrapper {
        max-width: 78px;
    }
    .logo-wrapper img {
        max-width: 78px;
    }
    .container-header{
        flex-direction: column-reverse;
    }
    .img-header img {
        max-width: 453px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .container-info-header{
        margin-top: 100px;
    }
    .wrapper-slider {
        margin-left: 55px;
        max-width: 393px;
    }
    .bottom-indicators{
        margin-right: 76%;
    }
    .content-text {
        padding-bottom: 60px;
    }
    .bottom-indicators {
        bottom: -74px;
    }
    .social li a i{
        font-size: 20px;
    }
    .social li {
        margin-right: 30px;
    }
    .market {
        padding-right: 40px;
    }
    .wrapper-burger-btn-close {
        top: 20px;
        right: 40px;
    }
    .close-btn{
        display: none;
    }
    .title-portal,
    .title-market{
        font-size: 30px;
        max-width: 50%;
        width: 50%;
        white-space: nowrap;
    }
    .wrapper-navigation{
        width: 97%;
        top: 92px;
        right: 10px;
        left: 10px;
        display: none;
        max-height: 490px;
    }
    .open-menu {
        display: flex;
        transition: .5s;
    }
    .portal, .market {
        max-width: 480px;
        width: 100%;
        padding-right: 0;
        padding-top: 60px;
        padding-left: 60px;
        height: 490px;
    }
    .btn-portal-wrapper,
    .list-nav-market{
        margin-top: 40px;
    }
    .market{
        background-color: #ffffff;
        position: relative;
    }
    .market:before{
        content: '';
        position: absolute;
        background: url("../../images/hint.svg") no-repeat;
        top: -8px;
        right: 12%;
        width: 15px;
        height: 15px;
    }
    .section-block {
        padding: 100px 0;
    }
    .user-card{
        display: flex;
    }
    .container-card{
        flex-wrap: wrap;
    }
    .for-whom {
        max-width: 324px;
    }
    .for-whom-wrapper,
    .card-title-block{
        max-width: 324px;
    }
    .for-whom-wrapper:nth-child(2n){
        margin-right: 0;
        margin-bottom: 40px;
    }
    .for-whom-wrapper:last-child{
        margin-bottom: 0;
    }
    .block-card{
        max-width: 324px;
    }
    .wrapper-block{
        flex-wrap: wrap;
    }
    .block-card:nth-child(2n+1){
        margin-right: 40px;
    }
    .block-card:nth-child(2n){
        margin-right: 0;
        margin-bottom: 40px;
    }
    .block-card:last-child{
        margin-bottom: 0;
    }
    ul#tabs li.selected .number-tabs {
        display: none;
        color: #5E0DFF;
    }
    .response-768 .container {
        max-width: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    ul#tabs li a h3{
        white-space: nowrap;
    }
    .borders{
        width: 24%;
    }
    ul#tabs li.selected:nth-child(2) ~ .borders {
        left:24.4%;
        width: 27%;
    }
    ul#tabs li.selected:nth-child(3) ~ .borders {
        left:51.5%;
    }
    ul#tabs li.selected:nth-child(4) ~ .borders {
        left: 76%;
        width: 25%;
    }
    .card-role{
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .card-role:last-child{
        margin-bottom: 0;
    }
    .padding-bottom-none {
        padding-bottom: 0;
    }
    .for-whom-wrapper:nth-child(3){
        margin-right: 40px;
    }
    .margin-top-117 {
        margin-top: 100px;
    }
    .contact-list{
        flex-wrap: wrap;
    }
    .contact:last-child{
        margin-top: 54px;
    }
    .footer {
        padding: 100px 0;
    }
    .top-footer {
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 360px){
    .sign-in{
        font-size: 0;
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background-image: url("../../images/sign-360.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .sign-in:hover{
        background-image: url("../../images/sign-360-hover.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .header {
        padding: 20px 20px 50px;
    }
    .img-header img {
        max-width: 260px;
    }
    .container-header h2 {
        line-height: 40px;
        font-size: 36px;
        margin-right: 0;
        max-width: 320px;
    }
    .container-info-header{
        flex-direction: column-reverse;
    }
    .wrapper-slider {
        margin-left: 0;
        max-width: 320px;
        margin-bottom: 65px;
    }
    .container-info-header {
        margin-top: 50px;
    }
    .bottom-indicators {
        bottom: -30px;
    }
    .bottom-indicators {
        margin-right: 0;
    }
    .down-btn{
        display: none;
    }
    .social-nav{
        display: none;
    }
    .content-text {
        padding-bottom: 0;
    }
    .section-block {
        padding: 50px 0;
    }
    .header-section h2{
        font-size: 32px;
    }
    .margin-bottom-40{
        margin-bottom: 30px;
    }
    .header-section p{
        font-size: 22px;
        line-height: 32px;
    }
    .container-card{
        margin-top: 50px;
    }
    .for-whom-wrapper{
        margin-right: 0;
        margin-bottom: 50px;
    }
    .for-whom-wrapper:last-child{
        margin-bottom: 0;
    }
    .container-card{
        justify-content: center;
    }
    .title{
        justify-content: center;
        margin: 0 auto;
        display: flex;
        font-size: 22px;
    }
    .card-title-block:hover .line{
        display: none;
    }
    .card-title-block:hover .title{
        padding-left: 0;
        color: #5E0DFF;
        transition: .3s;
    }
    .card-title-block h3 {
        margin: 20px 0;
    }
    .card-text{
        max-width: 320px;
        text-align: center;
    }
    .user-card{
        display: none;
    }
    .more-info {
        margin-top: 50px;
    }
    .for-whom-wrapper:nth-child(3) {
        margin-right: 0;
    }
    .for-whom-wrapper:nth-child(3n) {
        margin-bottom: 0;
    }
    .block-card{
        position: relative;
        margin-bottom: 0;
    }
    .chevron-down{
        position: absolute;
        top: 30px;
        right: 20px;
        background: url("../../images/chewron-down.svg") no-repeat center;
        width: 24px;
        height: 24px;
        position: absolute;
        z-index: 100;
    }
    .chevron-up{
        background: url("../../images/chewron-up.svg") no-repeat center;
    }
    .block-card:nth-child(2n+1) {
        margin-right: 0;
    }
    .block-card:nth-child(2n) {
        margin-bottom: 0;
    }
    .container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-card {
        max-width: 100%;
    }
    .block-card {
        padding: 30px 20px;
    }
    .info-card{
        display: none;
        margin-top: 30px;
    }
    .title-card{
        margin-bottom: 0;
    }
    .open-info-card{
        display: block !important;
    }
    .block-card:hover{
        box-shadow: none;
    }
    .margin-bottom-100 {
        margin-bottom: 50px;
    }
    .number-tabs{
        display: block;
    }
    ul#tabs li a h3 {
        display: none;
    }
    ul#tabs li.selected .number-tabs {
        display: block;
        color: #5E0DFF;
    }
    .borders{
        position: absolute;
        height: 2px;
        width: 25%;
        background-color: #5E0DFF;
        bottom: -2px;
        left: 0;
        transition: .3s linear;
    }
    ul#tabs li.selected:nth-child(1) ~ .borders {
        left:0;
    }
    ul#tabs li.selected:nth-child(2) ~ .borders {
        left:25%;
    }
    ul#tabs li.selected:nth-child(3) ~ .borders {
        left:50%;
    }
    ul#tabs li.selected:nth-child(4) ~ .borders {
        left: 75%;
    }
    .title-tabs-info{
        display: block;
        text-align: center;
        font-family: 'Mariupol';
        line-height: normal;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: #5E0DFF;
    }
    div.tabContent{
        max-height: 366px;
    }
    div.tabContent img {
        width: 560px;
    }
    .contentText{
        overflow-x: hidden;
        margin-right: 10px;
        margin-left: 10px;
    }
    .star-active{
        display: none;
    }
    .star-info{
        position: relative;
        padding-left: 33px;
        margin: 0 auto;
        margin-top: 10px;
        display: block;
    }
    .star-info,
    .star-info span{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #B3B3B3;
    }
    .star-info span{
        position: absolute;
        font-size: 26px;
        left: 0;
        top: 3px;
    }
    .margin-top-100 {
        margin-top: 50px;
    }
    .info-block-map{
        display: none;
    }
    .card-title-block .card-text-service{
        text-align: center;
        color: #4C4C4C;
    }
    .padding-bottom-none {
        padding-bottom: 0;
    }
    .margin-top-117 {
        margin-top: 0;
    }
    .renewal-card {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 30px 20px;
    }
    .renewal-card:last-child{
        margin-bottom: 0;
    }
    .wrapper-renewal{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .renewal-card-title{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .container-renewal-info-title{
        font-size: 22px;
    }
    .info-renewal{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .footer {
        padding: 50px 0;
    }
    .phone, .contact-list {
        align-items: flex-start;
        flex-direction: column;
    }
    .title-footer{
        margin-bottom: 10px;
    }
    .top-footer {
        margin-bottom: 30px;
    }
    .contact{
        margin-bottom: 30px;
    }
    .contact:last-child{
        margin-bottom: 0;
    }
    .contact:last-child {
        margin-top: 0;
    }
    .open-menu {
        flex-direction: column;
        width: 95%;
        overflow-y: auto;
        padding-top: 10px;
    }
    .wrapper-burger-btn-close {
        right: 20px;
    }
    .portal, .market {
        padding-top: 40px;
        padding-left: 20px;
    }
    .portal{
        position: relative;
    }
    .portal:before {
        content: '';
        position: absolute;
        background: url(../../images/hint.svg) no-repeat;
        top: -8px;
        right: 9%;
        width: 15px;
        height: 15px;
    }
    .market:before{
        display: none;
    }
    .wrapper-navigation {
        top: 86px;
    }
}
