@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
    url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff'),
    url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu.woff2') format('woff2'),
    url('../fonts/ubuntu/Ubuntu.woff') format('woff'),
    url('../fonts/ubuntu/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    font-size: 16px;
    color: #222222;
    font-family: 'Ubuntu';
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}
* a{
    font-size: 16px;
    text-decoration: none;
    color: #262626;
    cursor: pointer;
}
* a:hover{
    text-decoration: none;
    transition: .3s;
    color: #428bca;
}
* a, h1, h2, h3, h4, h5, h6, p, span{
    font-family: 'Ubuntu';
}
* button, button:focus, a , a:focus{
    outline: none;
}
* h2{
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
}
button{
    cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

.display-block {
    display: block !important;
}
body{
    position: relative;
}

/*-----------------------------header------------------------------*/
.header{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 4px 4px rgba(121, 143, 150, 0.24);
}
.logo{
    margin-right: 50px;
}
.user-btn,
.video-guide{
    border: none;
    background-color: #428bca;
    padding: 15px 17px;
    width: 150px;
    position: relative;
    height: 50px;
}
.user-btn-text{
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Ubuntu';
}
.chevron-down-btn{
    right: 17px;
    position: absolute;
    top: 15px;
}
.chevron-down-btn i{
    color: #ffffff;
    font-size: 14px;
}
.user-btn-text:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../../images/user-icon.png") no-repeat center;
    left: -25px;
    top: -2px;
}
.general-title a img{
    max-width: 92px;
}
.navigation-top-list{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 20px;
}
.info-top-nav a{
    padding: 13px 18px;
    border: 1px solid transparent;
}
.info-top-nav{
    margin-right: 14px;
}
.info-top-nav a:hover,
.active-link{
    border: 1px solid #428bca !important;
    border-radius: 5px;
    color: #428bca;
    transition: .3s;
}
.wrapper-top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f9f9f9;
}
.market-btn{
    background-color: #ffffff;
    background-image: url("../../images/bell.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 20px;
    padding: 15px 17px;
    width: 65px;
    height: 50px;
    border: none;
    position: relative;
}
.round-block{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff5722;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    top: 6px;
    left: 31px;
}
.wrapper-navigation-top{
    display: flex;
    align-items: center;
}
.nav-list-variant{
    border-left: 2px solid #222222;
}
.nav-list-variant a{
    padding: 0 15px;
}
.none-padding-left a{
    padding-left: 0;
}
.none-padding-right a{
    padding-right: 0;
}
.none-padding-right a:hover{
    color: #222222;
}
.button-nav-list{
    display: flex;
    align-items: center;
}
.wrapper-button-nav{
    padding: 24px 20px;
}
.active-option a{
    color: #428bca;
}
.active-option{
    border-left: 2px solid #428bca;
}
.active-option:first-child{
    border-left: none;
}
.video-guide span{
    font-size: 17px;
    color: #ffffff;
    position: relative;
    padding-right: 25px;
}
.video-guide{
    width: 140px;
    height: 34px;
    padding: 9px 11px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 3px 6px 8px -2px rgba(0,0,0,0.29);
    -moz-box-shadow: 3px 6px 8px -2px rgba(0,0,0,0.29);
    box-shadow: 3px 6px 8px -2px rgba(0,0,0,0.29);
    margin-right: 23px;
}
.video-guide span:before{
    content: '';
    position: absolute;
    background: url("../../images/play.png") no-repeat;
    width: 11px;
    height: 14px;
    right: 0;
    top: 2px;
}

.currency-options .select-hidden,
.currency-select{
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
.currency-options .select,
.currency .select{
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    width: 234px;
    height: 34px;
}
.currency .select{
    width: 93px;
}
.currency-options .select-styled,
.currency .select-styled{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    padding: 8px 15px;
    transition: all 0.2s ease-in;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
}
.currency-options .select-styled:hover,
.currency .select-styled:hover{
     background-color: #ffffff;
 }
.currency-options .select-styled:active,
.currency-options .select-styled.active,
.currency .select-styled.active,
.currency .select-styled:active{
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #e4e9ea;
}
.currency-options .select-styled:active:after,
.currency .select-styled:active:after,
.currency-options .select-styled.active:after,
.currency .select-styled.active:after{
    content: "";
    background: url("../../images/chewron-up.png") no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    top: 11px;
    right: 8px;
}
.currency-options .select-styled:after,
.currency .select-styled:after{
    content: "";
    background: url("../../images/chewron-down.png") no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    top: 11px;
    right: 8px;
}
.currency-options .select-styled:before{
    content: "";
    width: 32px;
    height: 17px;
    position: absolute;
    top: 12px;
    left: 8px;
}
.currency-options span,
.currency  span{
    font-family: 'Ubuntu';
    font-size: 18px;
}
.currency-options .select-options li{
    position: relative;

}
.currency-options .usa:before {
    content: "";
    background: url("../../images/flag.png") no-repeat;
    width: 32px;
    height: 17px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.currency-options .select-options,
.currency .select-options{
    -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.16);
}
.currency-options .select-options li span,
.currency-options .select-styled span{
    margin-left: 23px;
}
.currency .select-styled span,
.currency .select-options li span{
    color: #005a93;
}
.currency-options .select-options,
.currency .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
}
.currency-options .select-options li,
.currency .select-options li{
    margin: 0;
    padding: 8px 15px;
    text-indent: 15px;
    border-top: 1px solid #ffffff;
    transition: all 0.15s ease-in;
}
.currency-options .select-options li:hover,
.currency .select-options li:hover{
     background: #e4e9ea;
 }
.currency-options .select-options[rel="hide"],
.currency .select-options[rel="hide"] {
     display: none;
 }
.currency .select-styled,
.currency .select-options li{
    text-align: left;
}
.wrapper-button-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-nav-right{
    display: flex;
    align-items: center;
}
.currency-options{
    margin-right: 20px;
}
.currency{
    display: flex;
    align-items: center;
}
.currency .title{
    font-size: 18px;
}
.container-nav-right .secondary-header .currency-options .add {
    margin: 0 24px 0 8px;
}
.container-nav-right .btn.icon.add {
    background-color: #428bca;
    color: #fff;
    font: 300 18px 'Ubuntu';
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5)!important;
}
.container-nav-right .btn.icon {
    background-repeat: no-repeat;
    background-position: 8px center;
}
.container-nav-right .btn {
    height: 34px;
    padding: 0 15px;
    outline: 0 !important;
    cursor: pointer;
}
.container-nav-right .btn.icon.add:hover{
    background-color: #ffffff;
    color: #428bca;
    transition: .3s;
}



/*---------------------------------tabs---------------*/

.text {
    max-width: 700px;
    margin: 0 0 30px;
    background: #FFF;
    border: 2px solid #7DCA86;
    border-radius: 5px;
    padding: 7px 15px;
    box-sizing: border-box;
}

.tabs {
    max-width: 100%;
    margin: 0 0 30px;
    margin-top: 30px;
}
.tabs__caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}
.tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
    background: #7DCA86;
}
.tabs__caption:after {
    content: '';
    display: table;
    clear: both;
}
.tabs__caption li {
    padding: 9px 15px;
    margin: 1px 0 0 1px;
    background: #61AF6A;
    color: #FFF;
    position: relative;
    border: solid #61AF6A;
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
.tabs__caption li:not(.active) {
    cursor: pointer;
}
.tabs__caption li:not(.active):hover {
    background: #7DCA86;
    border-color: #7DCA86;
}
.tabs__caption .active {
    background: #428bca;
    color: #ffffff;
}
.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}
.tabs__content {
    display: none;
    background: #FFF;
    border-radius: 0 5px 5px 5px;
    padding: 7px 15px;
}
.tabs__content.active {
    display: block;
}

.vertical .tabs__caption {
    float: left;
    display: block;
}
.vertical .tabs__caption li {
    float: none;
    border-width: 2px 0 2px 2px;
    border-radius: 5px 0 0 5px;
}
.vertical .tabs__caption li:last-child:before {
    display: none;
}
.vertical .tabs__caption .active:after {
    left: auto;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    height: auto;
}
.vertical .tabs__content {
    overflow: hidden;
}



